<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mssm.mapper.GoodsAttributeMapper">

    <!--添加商品属性-->
    <insert id="add" parameterType="com.mssm.domain.GoodsAttribute">
        <selectKey keyColumn="id" keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into goodsattribute
        (gid,cid,sid,gname,cname,sname,stock)
        values
        (#{gid},#{cid},#{sid},#{gname},#{cname},#{sname},#{stock})
    </insert>

    <!--查询所有-->
    <select id="findAll" resultType="com.mssm.domain.GoodsAttribute">
        select * from goodsattribute order by gid,cid,sid and deleted=0
    </select>

    <!--根据商品id获取商品颜色-->
    <select id="findColorByGId" resultType="com.mssm.domain.Color">
        select distinct cid id, cname name from goodsattribute where gid = #{gid} and deleted=0
    </select>
    <!--根据商品id获取商品尺码-->
    <select id="findSizeByGId" resultType="com.mssm.domain.Size">
        select distinct sid id, sname name from goodsattribute where gid = #{gid} and deleted=0
    </select>

    <!--根据商品id查询-->
    <select id="findByGId" resultType="com.mssm.domain.GoodsAttribute">
        select * from goodsattribute where gid = #{gid} and deleted=0
    </select>

    <!--根据属性id查询属性-->
    <select id="findById" resultType="com.mssm.domain.GoodsAttribute">
        select * from goodsattribute where id = #{id} and deleted=0
    </select>

    <!--查询商品+商品属性-->
    <resultMap id="goodsWithStockMap" type="com.mssm.domain.Goods">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <collection property="attributeList" column="id" ofType="com.mssm.domain.GoodsAttribute"
                    select="com.mssm.mapper.GoodsAttributeMapper.findByGId"></collection>
    </resultMap>
    <select id="queryGoodsWithStock" resultMap="goodsWithStockMap">
        SELECT id, name, price, status
          FROM goods
         WHERE deleted = 0
    </select>

    <!--添加指定商品的一个数量的库存-->
    <update id="plusOne">
        update goodsattribute set stock=stock+1 where id = #{aid}
    </update>

    <!--减指定商品的一个数量的库存-->
    <update id="minusOne">
        update goodsattribute set stock=stock-1 where id = #{aid}
    </update>

    <!--保存指定商品库存-->
    <update id="updateStock" parameterType="com.mssm.domain.GoodsAttribute">
        update goodsattribute set stock=#{stock} where id = #{id}
    </update>

    <!--根据商品id逻辑删除-->
    <update id="deleteByGIdLogic">
        update goodsattribute set deleted=1 where gid=#{gid}
    </update>

    <!--根据id删除-->
    <delete id="deleteById">
        delete from goodsattribute where id = #{id}
    </delete>

    <!--根据商品id删除-->
    <delete id="deleteByGId">
        delete from goodsattribute where gid = #{gid}
    </delete>

    <!---->
    <select id="cntByGId" resultType="int">
        select COUNT(*) from goodsattribute where deleted=0 and gid=#{gid}
    </select>
</mapper>