<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mssm.mapper.GoodsStockMapper">

    <!--新增商品库存-->
    <insert id="addGoodsStock" parameterType="com.mssm.domain.GoodsStock">
        <selectKey keyColumn="id" keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into goodsstock
        (gid,cid,sid,gname,cname,sname,stock)
        values
        (#{gid},#{cid},#{sid},#{gname},#{cname},#{sname},#{stock})
    </insert>

    <!--更新商品库存-->
    <update id="updateGoodsStock" parameterType="com.mssm.domain.GoodsStock">
        update goodsstock set gname=#{gname}, cname=#{cname}, sname=#{sname}, stock=#{stock}
        where gid=#{gid} and cid=#{cid} and sid=#{sid}
    </update>

    <!--根据商品id 查询商品库存相关信息 resultType="com.mssm.domain.GoodsStock"-->
    <select id="queryGoodsStockList" resultType="com.mssm.domain.GoodsStock">
        select * from goodsstock
    </select>

    <select id="findColorByGId" resultType="com.mssm.domain.Color">
        select distinct cid id, cname name from goodsstock where gid = #{gid}
    </select>
    <select id="findSizeByGId" resultType="com.mssm.domain.Size">
        select distinct sid id, sname name from goodsstock where gid = #{gid}
    </select>
</mapper>