<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mssm.mapper.GoodsCategoryMapper">

    <select id="findAll" resultType="com.mssm.domain.GoodsCategory">
        select * from goodscategory where 1=1 and deleted=0
    </select>

    <!--findByGId-->
    <select id="findByGId" resultType="com.mssm.domain.GoodsCategory">
        select * from goodscategory where gid = #{gid} and deleted=0
    </select>

    <!---->
    <select id="cntByGId" resultType="int">
        select count(*) from goodscategory where deleted=0 and gid=#{gid}
    </select>

    <!--addGoodsCategory-->
    <insert id="add" parameterType="com.mssm.domain.GoodsCategory">
        insert into goodscategory
        (gid, gname, cid1, cid2, cid3)
        values
        (#{gid},#{gname},#{cid1},#{cid2},#{cid3})
    </insert>

    <!--deleteByGId-->
    <delete id="deleteByGId">
        delete from goodscategory where gid = #{gid}
    </delete>

    <!--根据商品id逻辑删除-->
    <update id="deleteByGIdLogic">
        update goodscategory set deleted=1 where gid=#{gid}
    </update>
</mapper>