<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mssm.mapper.ManagerMapper">

    <select id="findAllManager" resultType="com.mssm.domain.Manager">
        SELECT id,name,phone,portrait,status,locked
          FROM manager
         where deleted = 0
    </select>

</mapper>